


li.active > a { color: $dark-red; }	


ul.nav { list-style: none;  }
ul.nav > li a { text-decoration: none; }




/* 	-----------------
	bootstrap buttons
	----------------- */

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: linear-gradient(top, #f5f5f5, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #d9d9d9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.btn-login {	/* red */
	color: $white;
	padding: .7em 1.2em;
	font-weight: $bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  background-color: $dark-red;
  background-image: -moz-linear-gradient(top, $dark-red, #730B02);
  background-image: -ms-linear-gradient(top, $dark-red, #730B02);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($dark-red), to(#730B02));
  background-image: -webkit-linear-gradient(top, $dark-red, #730B02);
  background-image: -o-linear-gradient(top, $dark-red, #730B02);
  background-image: linear-gradient(top, $dark-red, #730B02);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$dark-red', endColorstr='#730B02', GradientType=0);
  border-color: #730B02;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-login {
	font-size: 1.2em;
	text-transform: uppercase;
}






a.close { 
	display: block;
	height: 32px;
	width: 32px;
	background-image: url(../ui/kaf-sprites-v2.png);
	background-repeat: no-repeat;
	background-position:  -307px -150px;
	text-indent: -999em; 
}
a.close:hover {
	background-position: -307px -195px;
}

.close > a { 
	display: block;
	height: 32px;
	width: 32px;
	background-image: url(../ui/kaf-sprites-v2.png);
	background-repeat: no-repeat;
	background-position:  -307px -150px;
	text-indent: -999em; 
}
.close > a:hover {
	background-position: -307px -195px;
}



.ajaxy-cart .close { position: absolute; top: 10px; right: 10px; }
/*
.ajaxy-cart .close a, .ajaxy-login .close a { 
display: block;
height: 32px;
width: 32px;
background-image: url(../ui/kaf-sprites-v2.png);
background-repeat: no-repeat;
background-position: -252px -174px;
text-indent: -999em; 
}
.close a:hover {
	background-position: -252px -145px;
}*/

.ajax-container .close { position: absolute; top: 10px; right: 10px; }






.indent { padding-left: 20px; }
.nowrap { white-space: nowrap; }

.msg-box { 
	padding: 14px; 
	border: 1px solid #DDD; 
	margin: .5em 0;
	line-height: normal;
	background-color: #f9f9f9;
}
.msg-box p { margin: 0; }

.msg-box.info { /*color: #6391b5;*/ color: #3B6A95; border-color: #6391b5; background-color: rgba(114,154,199,.1); }
.msg-box.success { color: #788432; border-color: #899639; background-color: rgba(147,164,69,.1); }
.msg-box.warning { color: #d97a23; border-color: #d97a23; background-color: rgba(236,137,29,.1); }
.msg-box.error { color: #c4132a; border-color: #c4132a; background-color: rgba(196,18,48,.1); }
.msg-box.msg-guarantee {  }

.cc-error { color: #c4132a; }
.compact li { margin: 3px 0; } 

.lt-ie9 .msg-box.info { background-color: #F1F5F9; }
.lt-ie9 .msg-box.success { background-color: #F4F6EC; }
.lt-ie9 .msg-box.warning { background-color: #FDF3E8; }
.lt-ie9 .msg-box.error { background-color: #F9E7EA; }


	
.widget {
	display: block;
	height: 17px;
	width: 27px;
	background-image: url(#{$kaf-ui-path}/v6-widget.png);
	background-repeat: no-repeat;
	position: absolute;
	top: -3px;
	left: 0;
}



a.sh-toggle { /* show-hide toggle link generated by js */

	text-transform: uppercase;
	border-radius: .75em;
	font-size: .8em;
	padding: .4em 1em;
	color: $text;
	float: right;
	margin-top: -38px;
	
background: #efefef; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #efefef 0%, #eeeeee 47%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(47%,#eeeeee), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efefef 0%,#eeeeee 47%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efefef 0%,#eeeeee 47%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efefef 0%,#eeeeee 47%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efefef 0%,#eeeeee 47%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}

a.sh-toggle:hover { cursor: pointer; background-color: #ccc; }

@media only screen and (max-width: 599px) {
	a.sh-toggle { margin-top: 0;}
}






.stampblock { display: block; margin: 2em 0; }



.m-controller {
	@include linear-gradient($lightest-gray, $verylight-gray);
	display: block;
	clear: both;
	margin: 0 -15px -1px -15px;
	padding: 12px 15px;
	cursor: pointer;
	color: $dark-gray;
	font-weight: $bold;
	letter-spacing: .02em;
	font-size: 1.3em;
	line-height: normal;
	
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
}

.m-controller:before {
	content: '\f067 ';
	font-family: 'FontAwesome';
	margin-right: 10px;
	color: $medium-gray;
}

.m-controller.expanded:before {
	content: '\f068 ';
}

h5.m-controller { text-transform: lowercase; font-size: 1.3em; }



.expandable { 
	padding: 1em 0; 
	@include bp($bp-tablet) {
		padding: 0;
	}
}

.lt-ie9 .expandable { padding: 0; }


/* 	------------------------------------
	new modal box
	------------------------------------ */

#overlay {
	position:fixed; 
	z-index: 2999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
}

#modalbox {
	position:absolute;
	z-index: 3000;
	background:url(tint20.png) 0 0 repeat;
	background:rgba(0,0,0,0.2);
	border-radius:14px;
	padding:8px;
	width: 98%;
	margin: 0 auto;
	@include bp($bp-tablet) {
		width: 80%; 
		max-width: 650px;
	}
}
.lt-ie9 #modalbox { 
	background-image: url('#{$kaf-ui-path}/ie-modal-overlay.png'); 
	width: 80%; 
	max-width: 650px;
}



#ajaxedcontent {
	border-radius: 7px;
	background: $white;
	padding: 18px;
	min-height: 4em;
}

#modalclose {
	position:absolute;
	z-index: 3001;
	background:url('#{$kaf-ui-path}/kaf-sprites-v2.png') -307px -157px  no-repeat; 
	width:24px;
	height:24px;
	display:block;
	text-indent:-9999px;
	top: 14px;
	right: 14px;
}

#ajaxedcontent.promo-web567 { background-color: #900; }
#ajaxedcontent.promo-web567 > h3 { color: $white; font-size: 3em; text-align: center; margin: 10px 0;}
#ajaxedcontent.promo-web567 > p { color: $white; font-size: 1.5em; text-align: center; margin: .5em 0 0 0; }
#ajaxedcontent.promo-web567 > small { color: $white; font-size: .85em; text-align: left; display: block; }

#ajaxedcontent.promo-SP1234 { background-color: #090; }
#ajaxedcontent.promo-SP1234 > h3 { color: $white; font-size: 2.8em; text-align: center; font-family: Georgia, "Times New Roman", Times, serif; font-weight: $regular; margin: 10px 0; }
#ajaxedcontent.promo-SP1234 > p { color: $white; font-size: 1.5em; text-align: center; margin: .5em 0 0 0; }


.modalerror { padding: 3em 1em; font-size: 1.5em; }

.fielderror { border-color: $red; }















#modal-overlay {
    position: fixed;
    z-index: 5000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
	background-color: rgba(100,100,100,.4);
    display: none;
}
.lt-ie9 #modal-overlay { background-image: url('#{$kaf-ui-path}/ie-modal-overlay.png'); }

/* #modal-window */
.ajax-container .wrap {
    position: fixed;
    z-index: 5020;
    background-color: $white;
    text-align: left;
	overflow: hidden;
    
    top: 50%;
    left: 50%;
    height: auto; /*350px;*/
    width: 90%; 
    margin: -200px -45%;
    
	-moz-box-shadow: 0 0 4px #666;
	-webkit-box-shadow: 0 0 4px #666;
	box-shadow: 0 0 4px #666;
	
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

@media only screen and (min-width: 38em) {
	.ajax-container .wrap {
		width: 50%; 
		margin: -200px -25%;
		min-width: 400px;
	}
}

.lt-ie9 .ajax-container .wrap {
    width: 50%; 
    margin: -200px -25%;
}

.ajax-content { 	
	height: 85%;
	overflow: auto;
	padding: 0 1em;
	margin: 7% 20px 8% 20px;
}



#ajax-infobox,
#ajax-dropdown {
	position: absolute; 
	z-index: 2998;
	top: 87px;
	left: 0;
}

@media only screen and (min-width: 46em) {
	#ajax-infobox,
	#ajax-dropdown {
		position: absolute; 
		top: 37px;
		right: 0;
		left: auto;
	}
}
.lt-ie9 #ajax-infobox,
.lt-ie9 #ajax-dropdown {
		position: absolute; 
		top: 37px;
		right: 0;
}


.ajaxy-cart {
	background-color: $white;
	border: $border;
	box-shadow: 1px 1px 3px $black-2;
	width: 96%;
	padding: 16px 2% 0 2%;
	@include bp($bp-tablet) {
		position: relative;
		width: 300px;
		padding: 20px 10px 0 10px;
	}
}





	
.ajaxy-login {
	/* centered popup */
	
}
	
.ajaxy-login p { text-transform: lowercase; font-weight: $bold; font-size: 1.3em; margin: 1em 0; }
.ajaxy-login .required label { color: $text; }
.ajaxy-login ol input[type="text"], 
.ajaxy-login ol input[type="password"] { width: 70%; }
.ajaxy-login .submit-btn input { float: right; }
.ajaxy-login .register-user { text-align: center; margin-top: 2em; }

.ajaxy-login #ajax-spinner { float: right; margin: 0 12px 0 0;}


.ajaxy-waiting {  }
.ajaxy-waiting .note { color: $text-medium; }

.ajax-spinner { margin: 1em auto; }


.ajaxy-promoapplied { height: auto !important; }

.ajaxy-promoapplied .msg-box { margin-bottom: 20px; }
.ajaxy-promoapplied .go-shopping { font-size: 1.2em; font-family: Georgia, "Times New Roman", Times, serif; }
.ajaxy-promoapplied ul li { margin: 10px 0; }




 /* -------------------
	add to cart ajax fragment
 --------------------- */

li.incart { list-style: none; }

.incart { clear: both; }
.incart .text { 
	float: right; 
	@include bp($bp-tablet) {
		width: 210px;
	}
}
.incart .img-container { float: left; width: 78px; margin-right: 10px; }
.incart .item-total { float: right; margin-right: .5em; }


.incart .qty-label .qty { font-weight: $bold; }

.ajaxy-cart fieldset.buttons a.btn-checkout { width: 58%; float: right; }
.ajaxy-cart fieldset.buttons a.btn-viewcart { 
	width: 38%; 
	float: left; 
	font-weight: $bold; 
	font-size: 1.1em; 
	padding: .75em 0;
}
.ajaxy-cart fieldset.buttons a.btn-checkout:hover { background: #899639; }


.ajaxy-cart .msg-area { margin: 1em; }
#success-msg { font-weight: $bold; color: #899639; }


.ajaxy-cart h5 { text-transform: lowercase; }

.ajaxy-cart .table-ordersum {  }
.ajaxy-cart #itemcount { text-align: right; }
.ajaxy-cart #merch-total { text-align: right; }

/* 
		<div class="ordersummary group">
			<table class="table table-ordersum">
				<tbody><tr>
					<td>total items in cart:</td>
					<td id="itemcount">6</td>
				</tr>
				<tr>
					<td>merchandise total:</td>
					<td id="merch-total">$89.70</td>
				</tr>
			</tbody></table>
		</div>
		<!-- / ordersum-box -->
*/


.rewards-member {  /* .uname */
	padding-left: 20px !important;
	background-image: url('#{$kaf-ui-path}/icon-rewards-dark-16.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	@include bp($bp-tablet) {
		background-image: url('#{$kaf-ui-path}/icon-rewards-light-16.png');
	}
}

.lt-ie9 .rewards-member {  background-image: url('#{$kaf-ui-path}/icon-rewards-light-16.png'); }






